<%= sidebar_section_for(t(".title")) do %>
   <ul>
     <% @categories.each do |category| %>
       <li id="category"><%=link_to "#{category.name} (#{category.frequency})", category_url(category) %> </li>
     <% end %>
   </ul>
 <% end %>